@import '~antd/dist/antd.less';

body {
  overflow-x: hidden;
}

svg {
  user-select: none;
  -webkit-user-select: none;
  & > g {
    cursor: pointer;
  }
}
text {
  filter: drop-shadow(0 0 0.4px rgb(9, 63, 38));
}
.deposit-input {
  text-align: center;
}
.ant-btn-danger {
  background-color: #ff1d4e;
}
.ant-typography.ant-typography-danger {
  color: #ff1d4e;
}
.ant-table {
  background: transparent;
}
.ant-table-cell {
  background: transparent !important;
  text-align: center !important;
}
.ant-table-cell-scrollbar {
  box-shadow: none;
}
.ant-table-thead > tr > th {
  padding: 7px 0;
}
.ant-pagination-options {
  display: none;
}
.activeanimation {
  animation: logglow 1.25s ease infinite alternate;
}
.ant-notification-notice {
  width: auto;
}
.ant-statistic-title {
  font-size: 11px;
}
.ant-statistic-content {
  font-size: 13px;
}
.withdraw-button {
  pointer-events: bounding-box;
  opacity: 0;
}
.withdraw-button:hover {
  stroke: rgb(24, 154, 93);
  opacity: 1;
}
.withdraw-button:focus {
  stroke: rgb(26, 226, 133);
  outline: 0;
  filter: drop-shadow(0 0 2px rgb(24, 154, 93));
  opacity: 1;
}

.coin-flip {
  animation-name: coin-highlight-flip;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

.doneSplash {
  transform: scale(1);
  transform-box: fill-box;
  transform-origin: center;
  animation: crescendo 2s alternate infinite ease;
}

.ref-btn-scale-1 {
  transform-box: fill-box;
  transform-origin: center;
  animation: scaling-1 2s alternate infinite ease;
}

.ref-btn-scale-2 {
  transform-box: fill-box;
  transform-origin: center;
  animation: scaling-2 2s alternate infinite ease;
  animation-delay: 2s;
}

.ant-input-group-addon {
  user-select: none;
  cursor: pointer;
}
.price-value {
  color: rgb(24, 154, 93);
  padding-right: 20px;
  padding-left: 8px;
}

@keyframes coin-highlight-flip {
  0% {
    transform: rotateY(0deg);
  }

  40% {
    transform: rotateY(360deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}

@keyframes crescendo {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.7);
  }
}

@keyframes scaling-1 {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes scaling-2 {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaling-3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes svg-loading-base {
  to {
    stroke-dashoffset: 0;
    opacity: 0.1;
  }
}

@keyframes logglow {
  100% {
    box-shadow: 0 0 8px 4px red;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #2d3e53;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2d3e53;
}
@import './notification.less';
